{
  "theme": "dark",
  "repo": "x360db",
  "cover_format": "paisagem",
  "screenshots": 6,
  "lang": "pt",
  "show_status": true,
  "show_log": true,
  "ftp_host": "",
  "ftp_port": 21,
  "ftp_user": "xbox",
  "ftp_pass": "xbox",
  "ftp_base": "Hdd:\\Aurora\\Data\\GameData"
}